@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');

:root {
    --trykker: "Trykker", serif;
    --black-shade: rgb(67, 66, 66);
    --teal-shade: rgb(58, 187, 164);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: var(--trykker);
}

.App{
    display: flex;
}

header{
    position: fixed;
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-shade);
    color: white;
}

#hints{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 37%;
}

#cv-container{
    margin-top: 15vh;
    width: 50vw;
    min-height: 85vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#cv-header-container{
    width: 100%;
    height: 20vh;
}

#cv-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
    margin-left: 5%;
    background-color: var(--black-shade);
    height: 16vh;
    width: 95%;
    color: white;
}

#name-surname{
    font-size: 1.4rem;
}

.hidden {
    display: none;
}

#name-surname:hover{
    font-size: 1.5rem;
}

#role{
    font-size: 0.9rem;
    text-decoration: underline;
}

#role:hover{
    font-size: 1rem;
}

#applicant-description{
    font-size: 0.7rem;
}

#applicant-description:hover{
    font-size: 0.8rem;
}

#cv-header-text{
    padding: 2.5%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#profile-picture{
    display: grid;
    margin-right: 3vw;
    border: 1.5px solid var(--teal-shade);
    border-radius: 50%;
    height: 85px;
    width: 85px;
    display: none;
}

#profile-picture:hover{
    height: 88px;
    width: 88px;
    cursor: pointer;
}

#drag-and-drop-text{
    place-self: center;
    width: 40px;
    text-align: center;
}

input[type="text"]{
    border: none;
    background-color: var(--black-shade);
    color: white;
    border-bottom: 1px solid var(--teal-shade);
}

#name-surname-input{
    width: 200px;
}

#role-input{
    width: 190px;
}

#applicant-description-input{
    width: 450px;
}

input[type="text"]:focus{
    outline: none;
}

#cv-body{
    display: flex;
}

#contact-details{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

svg{
    font-size: 1.2rem;
}

#cv-socials-container{
    display: flex;
    color: var(--black-shade);
    margin-left: 2.5vw;
    gap: 10px;
    align-items: center;
    font-size: 0.7rem;
}

#cv-socials-container:hover{
    font-size: 0.9rem;
}

#icon-container{
    display: flex;
    justify-content: center;
    width: 30px;
}

#blur{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 43, 46, 0.8);
}